<%- include("partials/header.ejs") %>

<body>
    <%- include("partials/navbar.ejs") %>
        <div class="container mt-5 ">
            <div class="card">
                <div class="card-header">
                    <h1>Consulta: <%= appo.description %> </h1><br>
                </div>

                <div class="card-body">
                    <h4>Paciente: <%= appo.name %> </h3><br>
                    <h4>Email <%= appo.email %> </h4><br>
                    <h4>CPF: <%= appo.cpf %> </h4>
                </div>

                <div class="card-footer">
                    <% if(appo.finish == false) { %>
                        
                        <form action="/finish" method="POST">
                            <input type="hidden" name="id" value="<%= appo.id %>">
                            <button class="btn btn-danger mt-1">Finalizar consulta</button>
                        </form>
                    <% } %>
                     
                </div>
            </div>

        </div>
    
</body>
<%- include("partials/footer.ejs") %> 