<%- include("partials/header.ejs") %>
<body>
    <%- include("partials/navbar.ejs") %>
    
        <div class="container">
            <H1>Consultas</H1>
            <form action="/search" method="GET">
                <input type="search" class="form-control" id="search" name="search" placeholder="Digite o email ou CPF do cliente">
                <button class="btn btn-danger mt-2">Buscar</button>
            </form>
            <% appos.forEach(appo =>{ %>
                <div class="card mt-4 mb-4">
                    <div class="card-header">
                        <h2> <%= appo.description %>  </h2>
                    </div>

                    <div class="card-body">
                        <h5> Nome:  <%= appo.name  %>  </h5>
                        <h5>Email: <a href="/event/<%= appo._id %> " class="stretched-link text-danger"> <%= appo.email  %>  </a></h5>
                        <h5> CPF: <%= appo.cpf  %>  </h5>
                    </div>
                </div>
           <% }) %>
             
        </div>
    
</body>
<%- include("partials/footer.ejs") %> 