<%- include("partials/header.ejs") %>
<body>

    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h2>Login</h2>
            </div>
            
            <div class="card-body">
                <form action="/auth" method="post">
                    <label class="form-text-label">Email: </label>
                    <input type="text" placeholder="Example@hotmail.com" class="form-control" name="email" required value="<%=email %>" autofocus>
                    <label class="form-label-error"><%= emailError %>  </label>
                    
                    <label class="form-text-label">Senha: </label>
                    <input type="password" placeholder="*****" class="form-control" name="password" required value="<%=wrongPassword %>">
                    <label  class="form-label-error"><%= passwordError %></label>
                    
                    <label class="form-label-error"><%= msgError %></label>
                    <button class="btn btn-danger" type="submit">Logar</button>
                     
                </form>
            </div>
        </div>
    </div>
    
</body>
<%- include("partials/footer.ejs") %> 