<%- include("partials/header.ejs") %>
<body id="login">

    <section id="login-section">
        <div class="card">
            <div class="card-header">
                <h2>Login</h2>
            </div>
            
            <div class="card-body">
                <form action="/auth" method="post">
                    <label>Email </label>
                    <input type="text" placeholder="Example@hotmail.com" class="form-control" name="email" required value="<%=email %>" autofocus>
                    <label class="form-label-error"><%= emailError %>  </label>
                    
                    <label class="form-label-password">Senha </label>
                    <i class="fas fa-eye eye" id="olho"></i>
                    <input type="password" placeholder="*****" class="form-control" name="password" required value="<%=wrongPassword %>">
                    <label  class="form-label-error"><%= passwordError %></label>
                    
                    <label class="form-label-error"><%= msgError %></label>
                    <button class="btn btn-danger mt-3" type="submit">Logar</button>
                     
                </form>
            </div>
        </div>
    </section>
    
</body>
<%- include("partials/footer.ejs") %> 