<%- include("partials/header.ejs") %>
<body>
  <%- include("partials/navbar.ejs") %>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Cadastro de Usuario</h2>
            </div>
            
            <div class="card-body">
            <form action="/user" method="POST">
                <label for="">*Nome: </label>
                <input type="text" name="name" id="name" value="<%= nameValue %>" placeholder="Nome Completo" class="form-control mb-3" required>
                <label for=""> <%= nameError %> </label>

                <label for="">*Email: </label>
                <input type="email" name="email" id="email" value="<%= emailValue %>" placeholder="example@hotmail.com" class="form-control mb-3" required>
                <label for=""> <%= emailError %> </label>
                <label for=""> <%= emailExist %> </label>

                <label for="" class="form-label password">*Senha: </label>
                <img id="olho" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABDUlEQVQ4jd2SvW3DMBBGbwQVKlyo4BGC4FKFS4+TATKCNxAggkeoSpHSRQbwAB7AA7hQoUKFLH6E2qQQHfgHdpo0yQHX8T3exyPR/ytlQ8kOhgV7FvSx9+xglA3lM3DBgh0LPn/onbJhcQ0bv2SHlgVgQa/suFHVkCg7bm5gzB2OyvjlDFdDcoa19etZMN8Qp7oUDPEM2KFV1ZAQO2zPMBERO7Ra4JQNpRa4K4FDS0R0IdneCbQLb4/zh/c7QdH4NL40tPXrovFpjHQr6PJ6yr5hQV80PiUiIm1OKxZ0LICS8TWvpyyOf2DBQQtcXk8Zi3+JcKfNafVsjZ0WfGgJlZZQxZjdwzX+ykf6u/UF0Fwo5Apfcq8AAAAASUVORK5CYII=">  
                <input type="password" name="password" id="senha" value="<%= passwordValue%>" placeholder="Example: Pedro_Custer03" class="form-control mb-3" required>
                <label for=""> <%= passwordError %> </label>
            
                <button class="btn btn-danger mt-2" type="submit">Criar</button>
  
            </form>        
    </div>
</body>

<%- include("partials/footer.ejs") %> 

